{% extends 'base.html' %}
{% block title %}Update auth{% endblock %}
{% block head %}
<style>
    .container {
        max-width: 960px;
    }

    .lh-condensed { line-height: 1.25; }
</style>
<script>
    (function () {
       
        window.addEventListener('load', function () {
            function pwd_disabled(){
                if($("#inputCheckbox").is(":checked")){
                    $("#check-password").removeAttr("disabled")
                    return true
                }
                else{
                    $("#check-password").attr("disabled", "disabled")
                    $("#check-password input").removeClass('is-invalid')
                    $("#check-password input").val('')
                    return false
                } 
            }
            
            pwd_disabled();
            
            $("#inputCheckbox").change(function(e){
                pwd_disabled();
            })

            var forms = document.getElementsByClassName('needs-validation')

            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (confirm("确认修改") == false){
                        event.preventDefault()
                        event.stopPropagation()
                    }
                }, false)
            })
        }, false)
    }())
</script>
{% endblock %}

{% block body %}
{% from 'navbars.html' import navbar_fixed %}
{% from 'forms.html' import render_field, render_radio, render_checkbox %}
<body class="bg-light">
    {{ navbar_fixed(current='update') }}
    <div class="container">
        <div class="text-center">
            <p class="font-weight-lighter font-italic">created on {{ g.user['created'] }}</p>
            <p class="font-weight-lighter font-italic">updated on {{ g.user['updated'] }}</p>
        </div> 
        <form method=post class="needs-validation" novalidate>
            <div class="row">
                <div class="col-md-4 order-md-2 mb-4">
                    <div class="mb-3">
                        {{ render_checkbox(form.check_password) }}
                    </div>
                    <fieldset id="check-password" disabled>
                        {{ render_field(form.password, label=True) }}
                        {{ render_field(form.confirm, label=True) }}
                    </fieldset>
                </div>

                <div class="col-md-8 order-md-1">
                    {% for message in get_flashed_messages() %}
                    <div class="alert alert-primary" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ render_field(form.username, label=True) }}
                        </div>
                        <div class="col-md-6 mb-3 d-flex align-items-center">
                            {{ render_radio(form.sex) }}
                        </div>
                
                        <div class="col-md-6 mb-3">
                            {{ render_field(form.email, label=True) }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ render_field(form.birthdate, label=True) }}
                        </div>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block" 
                        type="submit">提交</button>
                </div>
            </div>
        </form>
    </div>
</body>
{% endblock %}
