{% extends 'base.html' %}

{% block head %}
<style>
    .send-box {
        width: 100%;
        max-width: 50rem;
        padding: 15px;
        margin: auto;
    }
</style>
{% endblock %}

{% block body %}
{% from 'navbars.html' import navbar_fixed %}
<body>
    {{ navbar_fixed() }}
    <form class="send-box mt-5" method=post>
        {% for message in get_flashed_messages() %}
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        <div class='text-center mb-4'>
            <h5>确认添加</h5>
        </div>
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text">@{{ user['username'] }}</span>
            </div>
            <input type="text" class="form-control" name="message">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit" >发送</button>
            </div>
        </div>
    </form>
</body>
{% endblock %}
